/*************************************************************/
/******************* START - FOR SCREENS <= 700px ************/
/*************************************************************/

@media screen and (max-width: 700px) {
	/*
  .topnav a:not(:first-child) {display: none;}
  */
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
  #containerNHelpDivId{
	display: flex;
	flex-direction: column;  
}

	#mainContainer{
		width: 100%;
	}
	
	#helpDisplayDivId{
	width: 100%;
	}
	
	#cardsContainerDivId{
		margin: 20px;		
		/*flex-direction: column;*/
	}	
	
  #homeCardsContainerDivId{
    margin: 20px;	
  }




	.splitter{
		display: none;
	}
	
	.bannerLargeText{
		font-size: 24px ;
	}
	.bannerSmallText{
		font-size: 16px ; 
	}

	.panel-container {
		
		display: flex;
		flex-direction: column;  
		
		border: 1px solid silver;         
		overflow: hidden;  
		
	}	

}

/*************************************************************/
/******************* END - FOR SCREENS <= 700px **************/
/*************************************************************/
@media screen and (max-width: 840px) {
	.menucard {
		width: 95%;
	}
	
	.cardsContainerDivClassPadd {
		width: 90%;
	}
}